.mainsec {
  display: flex;    
  flex-direction: column;
  max-width: 60%;
  margin-left: 20pt;
  margin-top: 5pt;
  background-color: pink;
  padding: 5pt;
  align-items: center;
}

.contacts {
  display: flex;
	flex-direction: column;
	align-items: center;
}
