.link {
  align-content: left;
  background-color: palegreen;
  display: flex;
  margin-top: 3pt;
  color: white;
  max-width: fit-content;
}

ol.leftList:first-child {
  background-color: coral;
  align-content: center;
}

ul.leftList:first-child {
  background-color: rgb(143, 236, 240);
}
