.link {
  align-content: center;
  background-color: yellow;
  display: flex;
  margin-top: 3pt;
  max-width: 90%;
  font-weight: bolder;
}

ol.leftList:first-child {
  background-color: darksalmon;
  align-content: center;
}

ul.leftList:first-child {
  background-color: rgb(143, 236, 240);
}

.leftlist {
  background-color: seashell;
  align-items: center;
}
