.pageWrapper {
  margin-top: 20px;
  justify-items: center;
  align-items: center;
}

.page {
  padding: 10px;
  border: 1px solid;
  cursor: pointer;
}

.page__current {
  border: 2px solid hotpink;
  font-weight: bold;
}

section.sec1 {
  display: flex;
  flex-direction: column;
  height: 60%;
}

.sec11 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.sec12 {
  display: flex;
  flex-direction: column;
}

#ipp {
  width: 40px;
  height: 20px;
  background-color: white;
}

.cont {
  font-size: 24px;

}
