.RItem {
    display: flex;
    max-width: 320px;
    width: 85%;
    align-items: center;
    text-align: left;
    padding: 2px 5px;
    border-bottom: .1em solid;
    color: rgba(18, 18, 18, 0.89);
}

.listCaption {
    background-color: hotpink;
    align-self: center;
    font-size: 18px;
    padding: 8px 4px;
    margin: 4px;
    width: 85%;
}
